@media only screen and (min-width: 480px) {
  nav a {
    float: left;
    width: 30%;
    margin: 0 0 0 5%;
    padding: 25px 1%;
    margin-bottom: 0%;
  }
}

@media only screen (min-width: 786px),
only screen and (min-width: 700px) and (orientation: landscape) {
  .title {
    float:left;
    font-size: 1.4em;
  }
}

/*************************
Base Styles
*************************/


html {
  color: #222;
  font-size: 1em;
  line-height: 1.4;
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}
/* main styling */
body {
  font-family: 'Oswald', sans-serif;
  font-size: 30px;
  background-color: rgba(255, 0, 0, 0.5);
  text-align: center;
}

/* footer styling */
.footer {
  color: white;
  padding: 20px 0;
  background-color: rgba(0, 0, 0, 0.5);
}
